*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /* border: 2px solid red; */
    height: 10rem;
    padding: 2rem;
    text-align: center;
}
.btn{
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 2px solid black;
    cursor: pointer;
}